svg {
  width: 800px;
  height: 800px;
}

div.game-board {
  position: relative;
  width: 400px;
  height: 350px;
}

div.orb {
  position: absolute;
  width: 49px;
  height: 49px;
  border: 1px solid #666;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

div.moving {
  z-index: 5;
  box-shadow: 3px 3px 8px #444;
}

div.letter {
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
  margin: 7px 0;
}

div.red {
  background: #EE9999;
}

div.green {
  background: #99EE99;
}

div.blue {
  background: #A0A0EE;
}

div.light {
  background: #EEEE99;
}

div.dark {
  background: #DD88EE;
}