body {
  background: #FFF5F0;
}

div.overlay {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

div.game-container {
  background: #FFFFFF;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #666;
  margin: 50px auto 0;
}

div.game-board {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 0 auto;
}

div.controls {
  background: #FFFFFF;
  width: 400px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #666;
  margin: 20px auto 0;
}

div.move-bar {
  border-radius: 9px;
  background-color: #44DD88;
  width: 100%;
  height: 100%;
}

div.game-results {
  background: #FFFFFF;
  height: 250px;
  width: 400px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #666;
  margin: 20px auto;
  overflow: hidden;
}

div.word-results {
  height: 250px;
  overflow: auto;
}

div.result {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 3px auto;
  padding: 4px 5px;
  border-radius: 8px;
  width: 50%;
}

div.orb {
  position: absolute;
  width: 49px;
  height: 49px;
  border: 0px solid #666;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

div.moving {
  z-index: 100;
  box-shadow: 3px 3px 8px #444;
}

div.letter {
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 12px;
  text-align: center;
}

div.letter-points{
  position: absolute;
  top: 0;
  right: 0;
  font-family: sans-serif;
  font-size: 12px;
  text-align:  right;
  color: #FFFFFF;
  margin: 6px 6px 2px 2px;
}

div.letter-points span {

}

div.red {
  background: #EE9393;
}

div.green {
  background: #90E090;
}

div.blue {
  background: #90B0EE;
}

div.light {
  background: #F0C850;
}

div.dark {
  background: #CC90DD;
}

div.white {
  background: #D0D0D0;
}
