body {
  background: #FFF5F0;
}

div.game-container {
  background: #FFFFFF;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #666;
  margin: 100px auto 0;
}

div.game-board {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 0 auto;
}

div.game-results {
  background: #FFFFFF;
  height: 250px;
  width: 400px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #666;
  margin: 20px auto;
  overflow: hidden;
}

div.word-results {
  height: 250px;
  overflow: auto;
}

div.word-result {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 7px 0;
}

div.orb {
  position: absolute;
  width: 49px;
  height: 49px;
  border: 0px solid #666;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

div.moving {
  z-index: 100;
  box-shadow: 3px 3px 8px #444;
}

div.letter {
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
  margin: 7px 0;
}

div.red {
  background: #EE9393;
}

div.green {
  background: #99EE99;
}

div.blue {
  background: #90B0EE;
}

div.light {
  background: #FFD055;
}

div.dark {
  background: #CC90DD;
}

div.white {
  background: #DDDDDD;
}